@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
</head>

</html>

<body>
    <section class="center">
        <div class="text-size"> How work should work</div>
        <h4>
            Forget the old rules. You can have the best people. Right now. Right here.
        </h4>
    </section>

    <div class="center">
        <div class="HomepageInfo">
            <form class="home-container">
                <input type="radio" id="button1 button1Click1" name="buttonGroup inputBrightnes" checked>
                <label for="button1 button1Click1" class="scroll-label1 button-label">Find Work
                </label>

                <input type="radio" id="button2 buttonClick2" name="buttonGroup inputBrightnes">
                <label for="button2 buttonClick2" class="scroll-label2 button-label">Find Coworkers</label>

                <input type="radio" id="button3 buttonClick3" name="buttonGroup inputBrightnes">
                <label for="button3 buttonClick3" class="scroll-label3 button-label">More</label>
            </form>
        </div>
    </div>

    <div class="center">
        <div class="imageFirst-Som">
            <img
                src="https://c4.wallpaperflare.com/wallpaper/257/325/255/zyzz-bodybuilding-mirin-zyzz-veni-vidi-vici-wallpaper-preview.jpg">
            <div>
                <h2 class="lookForWork text-Decoration">
                    Up your work game, it’s free
                </h2>
                <h4 class="lookForWork textMard">
                    No cost to join
                </h4>
                <p class="lookForWork">
                    Register and browse professionals, explore projects, or even book a consultation.
                </p>
                <h4 class="lookForWork textMard">
                    Post a job and hire top talent
                </h4>
                <p class="lookForWork">
                    Finding talent doesn’t have to be a chore. Post a job or we can search for you!
                </p>
                <h4 class="lookForWork textMard">
                    Work with the best—without breaking the bank
                </h4>
                <p class="lookForWork">
                    Upwork makes it affordable to up your work and take advantage of low transaction rates.
                </p>
                <div class="lookForWorkLink">
                    <a class="arguinText" href="/enterprise/">
                        <div class="learnMoreText ">
                            Learn more
                        </div>
                    </a>
                    <a class="arguinText learnMoreTex" href="/enterprise/">
                        Learn more
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div id="button1" class="center">
        <div class="lookForWork">
            <h1 class="text-Decoration">Browse talent by category</h1>
            <h6>
                Looking for work? <a class="blinkerBTN" href="https://www.upwork.com/">Click me</a>
            </h6>
        </div>
    </div>

    <div class="ButtonInfo">
        <div class="button-container">
            <div class="info-item">
                <h4>
                    Development & IT
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    AI Services
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    Design & Creative
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    Sales & Marketing
                </h4>
            </div>
        </div>
        <div class="button-container">
            <div class="info-item">
                <h4>
                    Writing & Translation
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    Admin & Support
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    Finance & Accounting
                </h4>
            </div>
            <div class="info-item">
                <h4>
                    Engineering & Architecture
                </h4>
            </div>
        </div>
    </div>

    <div id="button2" class="center">
        <div class="blockImg">
            <div class="textImg">
                <p>Enterprise Suite</p>
                <h1 style="text-align: start;">
                    <span class="propis">
                        This is how
                    </span>
                    <br>
                    <span class="c-mint propis">
                        good companies
                        <br>
                        find good company.
                    </span>
                </h1>
                <span class="enterprice">
                    Access the top 1% of talent on Upwork, and a full suite of hybrid workforce management tools.
                    This
                    is how innovation works now.
                </span>
                <div>
                    <div class="enisioPedro">
                        <div class="ent-more-ditails ">
                            <div class="divDownText">
                                <img alt="vsuc_Skills_11" width="27" height="24"
                                    src="https://1000logos.net/wp-content/uploads/2023/05/Gymshark-Emblem-768x432.png">
                                Access expert talent to fill your skill gaps
                            </div>
                            <div class="divDownText">
                                <img alt="vsuc_Control_12" width="27" height="24"
                                    src="https://1000logos.net/wp-content/uploads/2023/05/Gymshark-Emblem-768x432.png">
                                Control your workflow: hire, classify and pay your talent
                            </div>
                            <div class="divDownText">
                                <img alt="vsuc_Support_13" width="27" height="24"
                                    src="https://1000logos.net/wp-content/uploads/2023/05/Gymshark-Emblem-768x432.png">
                                Partner with HrKyrgyzstan for end-to-end support
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divDownText">
                    <a class="arguinText" href="/enterprise/">
                        <div class="learnMoreText">
                            Learn more
                        </div>
                    </a>
                </div>
            </div>
            <div class="imageImg">
                <img src="https://image-cdn.essentiallysports.com/wp-content/uploads/Untitled-design-47-16-1110x690.jpg" alt="Image">
            </div>
        </div>
    </div>

    <div id="button3" class="center ">
        <div class="ultraFit">
            <div class="antropaNik">
                <div class="span-md-7">
                    <p class="headLine text-white">
                        For clients
                    </p>
                    <h2 class="bg-delivery bg-model text-white">
                        Find talent
                        <br>
                        your way
                    </h2>
                </div>
                <div>
                    <div class="span-md-7">
                        <p class="bg-crisetn text-white">
                            Work with the largest network of independent<br>
                            professionals and get things done—from quick<br>
                            turnarounds to big transformations.
                        </p>
                    </div>
                </div>
                <div class="span-md-7 span-md-11 ">
                    <div>
                        <a href="" class="secondBlockBut">
                            <span>
                                Post a job<br>
                                and hire a pro
                            </span>
                            <span>
                                <span>
                                    Talent Marketplace<sup>TM</sup>
                                </span>
                                <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7 0.5L5.775 1.725L10.675 6.625H0L0 8.375H10.675L5.775 13.275L7 14.5L14 7.5L7 0.5Z">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="" class="secondBlockBut">
                            <span>
                                Browse and<br>
                                buy projects
                            </span>
                            <span>
                                <span>
                                    Project
                                    Catalog<sup>TM</sup>
                                </span>
                                <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7 0.5L5.775 1.725L10.675 6.625H0L0 8.375H10.675L5.775 13.275L7 14.5L14 7.5L7 0.5Z">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>
                    <div>
                        <a href="" class="secondBlockBut">
                            <span>
                                Let us help you
                                <br>
                                find the right
                            </span>
                            <span>
                                <span>
                                    Talent Scout<sup>TM</sup>
                                </span>
                                <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M7 0.5L5.775 1.725L10.675 6.625H0L0 8.375H10.675L5.775 13.275L7 14.5L14 7.5L7 0.5Z">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

