@{
    ViewData["Title"] = "Help";
}

<body class="privacyBody page-no-footer">
    <div class="privacyContainer">
        <div class="privacyContact">
            <div class="left-Priv"></div>
            <div class="right-Priv">
                <h2 class="privH2">Contact Us</h2>
                <input type="text" class="fieldPriv" placeholder="Your Name">
                <input type="Email" class="fieldPriv" placeholder="Your Email">
                <input type="text" class="fieldPriv" placeholder="Your Phone">
                <textarea class="fieldPriv area" placeholder="Message"></textarea>
                <button type="submit" class="privacyBtn">Send</button>
            </div>
        </div>
    </div>
</body>