@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<body class="page-no-footer">
    <h4 class="center text-black">
        Please check your email to reset your password.
    </h4>
</body>